@model PagedList.IPagedList<Business.Entitie.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootStrap.cshtml";
}

<div class="blog-header">
</div>
<div class="row">
    <div class="col-sm-8 blog-main">
        @foreach (var item in Model)
        {
            <div class="blog-post">
                <h2 class="blog-post-title">@item.Titulo</h2>
                <p class="blog-post-meta">Postado em @item.Data por <a href="#">@item.Usuario.Nome</a></p>
                <p>@item.Corpo</p>

                <a class="btn btn-primary" href="~/Post/Post/@item.Id">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
            </div>            
        }

        <div>
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @if (Model.HasPreviousPage)
            {
                @Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                @Html.Raw(" ");
                @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            }
            else
            {
                @:<<
                @Html.Raw(" ");
                @:< Anterior
             }

            @if (Model.HasNextPage)
            {
                @Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            }
            else
            {
                @:Próxima >
                @Html.Raw(" ")
                @:>>
            }
        </div>
    </div><!-- /.blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            @Html.ActionLink("Inserir Post", "Inserir", "Post", new { @class = "btn btn-primary" })
         </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->
</div><!-- /.row -->
